.space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
    /* for vertically aligning movie icon with text */
    display: flex;
    align-items: center;
    /* height: 100px; */
}
.example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    position: relative;
  }
  .search-icon {
      position: absolute;
      right: 1px;
  }
