
.movies {
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

mat-card {
    /* margin-right: 20px; */
    margin-bottom: 50px;
    width: 300px;
    border-radius: 5px;
    position: relative;
    
}
mat-card img {
    /* object-fit: contain;
    width: 100%;
    height: 80%; */
    /* clip-path: polygon(100% 0, 100% 1%, 0 1%, 100% 33%, 100% 100%, 0 72%, 0 0); */
} 
mat-card-content {
    max-width: 300px;
    text-align: center;
}
mat-card-actions {
    position: absolute;
    left: 7px;
    bottom: 7px;
}

  